.result {
  margin-bottom: 20px;
  border: solid 1px $color-medium;
  border-radius: $radius;
  overflow: hidden;

  &__wrapper {
    display: flex;
    background-color: $color-light;
    animation: fadeIn 0.4s;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__image {
    width: 33.333%;
    flex-shrink: 0;
    border-right: solid 1px $color-medium;
  }

  &__image-wrapper {
      padding-top: 75%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }

  &__texts {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    text-transform: capitalize;
    margin-bottom: 3px;
  }

  &__destination {
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__details {
    text-align: right;
  }

  &__price {
    font-size: 28px;
  }

  &__reviews {
    border-top: solid 1px $color-medium;

    &--closed {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}